@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

*{
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
html,body{margin: 0; padding: 0;}
header, body, article, aside, main, nav, footer{display: block;}
header:after, body:after, article:after, aside:after, main:after, nav:after, footer:after{display: block;}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
ul, ol{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}
.clear{clear: both;}

/* header */
header{/* height: 100px; */}
header .wrap{
    width: 1200px; /* height: 100%; */
    padding: 0 10px; margin: 0 auto;
    background-color: #fff;
}
header .wrap:after{
    content: ""; display: block; clear: both;
}

header .wrap .menu{}
header .wrap .menu div{
    float: left;
}
header .wrap .menu .logo{
    display: block;
    padding: calc((100px - 44px) / 2) 0;
    margin-right: 115px;
}
header .wrap .menu .logo a{
    width: 80px; height: 44px;
    display: block;
    background-image: url(../img/logo_blk.png);
    background-position: 50% 50%;
    background-size: cover;
}

header .wrap .menu .nav{}
header .wrap .menu .nav > ul{font-size: 0;}
header .wrap .menu .nav > ul > li{
    display: inline-block;
    padding: calc((100px - 12px) / 2) 0;
}
header .wrap .menu .nav > ul > li > a{
    display: block;
    font-size: 12px; line-height: 1;
    color: #323232;
    text-transform: uppercase;
    margin: 0 15px;
}
header .wrap .menu .nav > ul > li:hover > a{color: #795548;}

header .wrap .sns{
    float: right;
}
header .wrap .sns > ul{font-size: 0;}
header .wrap .sns > ul > li{display: inline-block;}
header .wrap .sns > ul > li > a{
    display: block;
    padding: calc((100px - 20px) / 2) 0;
}
header .wrap .sns > ul > li > a:first-child{margin-right: 20px;}
header .wrap .sns > ul > li > a  > img{
    display: block;
    height: 20px;
}


/* main */
main{
    height: 1080px;
    background-image: url(../img/cs-home-hero.jpg);
    background-position: 50% 50%;
    background-size: cover;
}
main .dark{
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    
    
}
main .dark .wrap{
    position: relative;
    margin: 0 auto;
    width: 1200px; height: 100%;
}

main .dark .wrap .center{
    width: 50%;
    padding: 0 10px;
    text-align: center;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
main .dark .wrap .center p.sub_tit{
    line-height: 30px;
    padding-bottom: 20px;
    font-size: 18px;
}
main .dark .wrap .center p.main_txt{
    padding-bottom: 40px;
}
main .dark .wrap .center h1{
    font-size: 48px;
    line-height: 60px;
    padding-bottom: 40px;
}

main .dark .wrap .center .main_btn{
    width: 200px; height: 40px;
    background-color: rgba(225,225,225,0.25);
    border: 1px solid #fff;
    margin: 0 auto;
}

main .dark .wrap .center .main_btn a{
    display: block;
    font-size: 14px; line-height: 40px;
    color: #fff;
}


/* #products */
#products{}
#products .wrap{
    width: 1200px;
    padding: 120px 0; margin: 0 auto;
}
#products .wrap .title{}
#products .wrap .title p{
    font-size: 36px; line-height: 60px;
    padding-bottom: 20px;
}
#products .wrap .intro{
    height: 240px;
    font-size: 0;
    padding: 0 10px 20px;
}
#products .wrap .intro div{
    display: inline-block;
}
#products .wrap .intro .img_part{
    width: 40%; height: 100%;
    background-image: url(../img/showroom1.jpg);
    background-position: 50% 50%;
    background-size: cover;
    float: left;
}
#products .wrap .intro .txt_part{
    width: 60%;
    padding: 45px 0 45px 20px
}
#products .wrap .intro .txt_part p{
    width: 90%;
    color: #8d8d8d;
    font-size: 18px;
}
#products .wrap .intro .txt_part p:first-child{
    float: left;
    padding-bottom: 20px;
}
#products .wrap .intro .txt_part p:last-child{float: right;}

/** #product .item **/
#products .wrap .item{font-size: 0;}
#products .wrap .item article{
    display: inline-block;
    width: calc((100% / 3) - 20px); height: 300px;
    background: radial-gradient(circle, #fafafa 0%, #c1c1c1 100%);
    position: relative;
    padding: 20px; margin: 10px 10px;
    overflow: hidden; 
}
#products .wrap .item article .item_img{
    width: 100%; height: 100%;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 1s;
}

#products .wrap .item article:nth-child(1) .item_img{background-image: url(../img/E8_2_300x300_black.png);}
#products .wrap .item article:nth-child(2) .item_img{background-image: url(../img/P6_300x300_black.png);}
#products .wrap .item article:nth-child(3) .item_img{background-image: url(../img/M3_black_300x300_new.png);}
#products .wrap .item article:nth-child(5) .item_img{background-image: url(../img/H9i_natural_300x300_new.png);}
#products .wrap .item article:nth-child(6) .item_img{background-image: url(../img/P2_natural_300x300.png);}
#products .wrap .item article:nth-child(7) .item_img{background-image: url(../img/H4_300x300_violet.png);}
#products .wrap .item article:nth-child(8) .item_img{background-image: url(../img/E8_CHARCOALGREY_300X300.png);}
#products .wrap .item article:nth-child(9) .item_img{background-image: url(../img/Speakercomparenew.png);}
#products .wrap .item article:nth-child(10) .item_img{background-image: url(../img/Form2_300x300.png);}

#products .wrap .item article h4{
    position: absolute;
    top: 20px; left: 20px;
    color: #fff;
    font-size: 24px;
}

#products .wrap .item article .item_name{
    width: 100%; height: 80px;
    background-color: rgba(255,255,255,0.75);
    position: absolute; left: 0; bottom: 0; 
    transform: translateY(80px);
    transition: transform 1s;
    padding: 20px;
    font-size: 14px;
}
#products .wrap .item article .item_name p{
    color: #323232;
    line-height: 20px;
}
#products .wrap .item article .item_name p:nth-child(1){font-weight: bold;}
#products .wrap .item article .item_name p:nth-child(2){text-align: right;}

#products .wrap .item article:hover .item_img{
    transform: scale(1.05) ;
}

#products .wrap .item article:hover .item_name{
    transform: translateY(0);
}

/** #prodecuts .banner_01  **/

#products .wrap .item article.banner_01{
    width: calc((100% / 12 * 8) - 20px);
    padding: 0; margin: 10px 10px;
    background: #323232;
}
#products .wrap .item article.banner_01 .img_part{
    width: calc(50% - 10px); height: 300px;
    background-image: url(../img/recommand_01.jpg);
    background-size: cover;
    background-position: 50% 50%;
    float: left;
}
#products .wrap .item article.banner_01 .txt_part{
    width: calc(50% + 10px);
    font-size: 13px;
    float: right;
    color: #c1c1c1;
    padding: 20px; 
}
#products .wrap .item article.banner_01 .txt_part p{}
#products .wrap .item article.banner_01 .txt_part p:nth-child(1){padding-bottom: 10px;}
#products .wrap .item article.banner_01 .txt_part p:nth-child(2){
    padding-bottom: 20px;
    font-size: 22px; font-weight: bold;
    color: #fff;
}
#products .wrap .item article.banner_01 .txt_part p:nth-child(3){
    padding-bottom: 20px;
}
#products .wrap .item article.banner_01 .txt_part a{
    color: #795548;
}

#products .wrap .item article.banner_02{
    background-image: url(../img/gift_box_01.jpg);
    padding: 0;
    background-position: 50% 45%;
    background-size: cover;
    position: relative;
}
#products .wrap .item article.banner_02 .dark{
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
#products .wrap .item article.banner_02 .dark p{
    font-size: 18px;
    color: #fff;
    position: absolute; bottom: 20px; right: 20px;
}

#products .wrap .more_btn{
    width: 180px; height: 40px;
    border: 1px solid #323232;
    margin: 40px auto;
    text-align: center;
}
#products .wrap .more_btn a{
    display: block;
    font-size: 14px;
    color: #323232;
    line-height: 40px;  text-transform: uppercase;
}

/* #vid_banner */
#vid_banner{
    height: 600px;
    overflow: hidden;
    position: relative;
}
#vid_banner video{
    width: 100%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}


/* #categorie */
#categorie{}
#categorie .wrap{
    width: 1200px;
    margin: 0 auto;
    padding: 120px 0;
    font-size: 0;
}

#categorie .wrap .title{}
#categorie .wrap .title p{
    font-size: 36px; line-height: 60px;
    padding-bottom: 20px;
}

#categorie .wrap .cont article{
    display: inline-block;
    width: calc(100% / 3);
    /* background-color: #6699aa; */
    text-align: center;
}
#categorie .wrap .cont article p{
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 20px;
    text-transform: capitalize;
}

#categorie .wrap .cont article .img_part{
    height: 160px;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}

#categorie .wrap .cont article:nth-child(1) .img_part{background-image: url(../img/Speakercomparenew.png);}
#categorie .wrap .cont article:nth-child(2) .img_part{background-image: url(../img/Headphonecomparenew.png);}
#categorie .wrap .cont article:nth-child(3) .img_part{background-image: url(../img/Earphonecomparenew.png);}

#categorie .wrap .cont article .more_btn{
    width: 120px; height: 40px;
    background-color: #323232;
    margin: 0 auto; 
}
#categorie .wrap .cont article .more_btn a{
    display: block;
    font-size: 16px;
    color: #fff;
    line-height: 40px;
}

/* footer */
footer{
    height: 280px;
    background-color: #323232;
}
footer .wrap{
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
}
footer .wrap .top{padding-bottom: 40px;}
footer .wrap .top::after{
    content: ""; display: block; clear: both;
}
footer .wrap .top .info{
    float: left;
    width: calc(100% / 12 * 8);
    font-size: 0;
}
/* footer .wrap .top .info div{display: inline-block; vertical-align: top;} */


/* footer .wrap .top .info{
    width: calc(100% / 12 * 5);
    font-size: 0;
} */
footer .wrap .top .info article{
    display: inline-block;
    width: 25%;
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
    /* background-color:brown; */
    /* margin: 0 10px; */
    vertical-align: top;
    line-height: 40px;
}
footer .wrap .top .info article.logo{
    height: 40px;
    background-image: url(../img/logo_white.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    /* margin-right: 120px; */
}

/* footer .wrap .top .info article p{line-height: 2;} */
footer .wrap .top .info article h4{
    font-weight: bold;
}

footer .wrap .top .link{
    float: right;
    width: calc(100% / 12 * 3);
    margin-top: 40px;
}
footer .wrap .top .link:after{
    content: ""; display: block; clear: both;
}

footer .wrap .top .link ul{font-size: 0;}
footer .wrap .top .link ul li{
    display: inline-block;
    width: calc((100% / 3) - 20px); height: 80px;
    margin: 0 10px;
}
footer .wrap .top .link ul li a{
    width: 100%; height: 100%;
    display: block;
    background-position: 50% 50%;
    background-size: cover;
}
footer .wrap .top .link ul li:nth-child(1) a{background-image: url(../img/info-img-001.jpg);}
footer .wrap .top .link ul li:nth-child(2) a{background-image: url(../img/info-img-002.jpg);}
footer .wrap .top .link ul li:nth-child(3) a{background-image: url(../img/info-img-004.jpg);}

footer .wrap .copy{
    text-align: center;
    color: #c1c1c1;
    font-size: 14px;
}

